$white:       #ffffff;
$dark-blue:   #345cab;
$warm-blue:   #648eca;
$warm-blue-translucent: rgba(165, 217, 246, 0.36);
$light-blue:  #a5d9f6;
$alert-red:   #ca6478;

img.modal-button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: $dark-blue;
  height: 75%;
  width: 75%;
}

div.anime-tile-menu-container {
  position: sticky;
}

ul.anime-tile-menu-list {
  margin-left: 5px;
  margin-right: 5px;
}

li.anime-tile-menu {
  border-radius: 5px;
  font-size: 0.5em;
  padding: 5px;
  text-align: center;
  width: 70px;
}
li.anime-tile-menu.to-watch {
  background-color: rgba(102, 0, 204, 0.25);
}
li.anime-tile-menu.loved {
  background-color: rgba(0, 204, 51, 0.25);
}
li.anime-tile-menu.meh {
  background-color: rgba(204, 153, 0, 0.25);
}
li.anime-tile-menu.hated {
  background-color: rgba(204, 0, 0, 0.25);
}
li.anime-tile-menu.close {
  background-color: rgba(0, 0, 0, 0.25);
}
